@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "SS-regular", "맑은 고딕", sans-serif;
  font-size: 10px;
  color: #000;
  line-height: 1.5rem;
  letter-spacing: -0.23px;
  text-size-adjust: 100%;
  /* overflow-x 이건 항상 적기 (가로 스크롤 방지)*/
  overflow-x: hidden;
  background-color: #fff;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
img {
  border: 0;
  vertical-align: middle;
}

.wrap {
  width: 100%;
}
